*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.template{
    display:none;
}

.sub-text {
    color: rgb(180, 180, 180);
}

.name-chat{
    font-size:12px;
    font-weight: 500;
}

.sub-name-chat{
    font-size:10px;
    color: rgb(168, 168, 168);
}

.selected{
    background-color:#dbdbdb;
}

i {
    cursor:pointer;
}


/* ------------- */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0px,
        #009688 15vh,
        #d2dbdc 15vh,
        #d2dbdc 100%
    );
}

.container{
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

#app-left{
    width: 35%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid rgba(194, 194, 194, .5);
}

/***** USER *****/

.top-bar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 5px;
}

.img-user{
    display: flex;
    align-items: center;
}

.img-user img{
    height: 40px;
    border-radius: 50%;
}

.icon-user i{
    margin-right:10px;
    font-size:17px;
    color:rgb(155, 155, 155);
}

/***** Notifiche *****/

.notification{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(149, 226, 245);
}

.icon-noti{
    margin-left:5px;
    padding:10px;
    border-radius:50%;
    background-color: rgba(255, 255, 255, .9);
}

.icon-noti i{
    color: rgb(149, 226, 245);
    font-size: 16px;
}

.noti-text{
    margin-left:10px;
}

.noti-text p{
    font-size:13px;
    font-weight:500;
}

.noti-text a{
    color:grey;
    font-size:11px;
}

/***** Input chat *****/

.input-text{
    padding:10px;
    background-color: rgb(243, 243, 243);
}

.icon-input-text{
    padding:5px;
    background-color: #fff;
}

.icon-input-text i {
    font-size: 12px;
    color: grey;
    padding: 0 15px;
}

.icon-input-text .input-chat{
    margin-left:10px;
    border: none;
    width: 70%;
    height: 100%;
    max-width: 100%;
}

/***** Chat *****/



.box-chat{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 5px 15px;
    border-top: 1px solid rgba(228, 228, 228, 0.712);
}

.box-chat:hover{
    background-color: #e6e6e6;
}

.user-chat{
    display: flex;
    align-items: center;
}

.box-chat .user-chat img{
    height: 40px;
    border-radius: 50%;
}

.user-chat-name{
    margin-left: 15px;
}

.box-chat .time-chat{
    font-size: 10px;
    color: rgb(168, 168, 168);
}

#app-right{
    display: flex;
    flex-direction:column;
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

.body-chat{
    height: 100%;
    overflow: auto;
}

.input-message{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color:rgba(242, 242, 242, 0.7);
    height: 50px;
}

.input-message .message {
    border: none;
    width: 80%;
    border-radius:5px;
    padding: 7px;
}

.input-message i{
    font-size: 20px;
}

.my-chat{
    display: flex;
    flex-direction: column;
}

.my-chat li{
    margin:5px 10px;
    list-style: none;
    border-radius:8px;
    padding: 10px;
    padding-right: 40px;
    font-size:12px;
    position: relative;
}

.my-chat li:first-child{
    margin-top: 20px;
}

.time-message{
    color: rgb(190, 190, 190);
    font-size: 7px;
    margin-left: 5px;
    position:absolute;
    bottom:3px;
    right: 10px;
}

.my-message{
    align-self: flex-end;
    background-color: #a9ff81de;
}

.your-message{
    align-self: flex-start;
    background-color: #fff;
}
